body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #87c4f9, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  background: white;
  align-items: center; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.card h2 {
  margin-bottom: 20px;
  color: #2c2727;
  font-size: 20px;
}

.card form input {
  display: block; 
  width: 90%;     
  margin: 8px auto;      
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.card form button,
.logout-btn {
  display: block;    
  width: 90%;     
  margin: 10px auto;  
  padding: 10px;
  background: #4facfe;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.card form button:hover,
.logout-btn:hover {
  background: #00c6ff;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  color: #4facfe; 
  margin-bottom: 10px;
}

body {
  background-color: #6dd5fa;
  margin: 0;
  font-family: Arial, sans-serif;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
